.day {
	margin: 0px;
	border-bottom: 1px #000000 solid;
	list-style-type: none;

	& {
		.header {
			padding-top: 5px;
			padding-bottom: 5px;
			overflow: hidden;

			.day--detail,
			.temp--detail {
				b, span {
					padding: 0px;
				}

				b {
					margin-right: 60px;
				}
			}
		}

		.details {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}	

	&.today {
		.header {
			border-bottom: 1px #000000 solid;
		}
	}	
}