.day {
	margin: 0px;
	border-bottom: 1px #000000 solid;
	list-style-type: none;

	&:last-child {
		border-bottom: none;
	}

	& {
		.header {
			padding-top: 5px;
			padding-bottom: 5px;
			overflow: hidden;

			.day--detail,
			.temp--detail {
				@media screen and (max-width: 500px) {
					padding: 0px;
				}

				b, span {
					padding: 0px;
				}

				b {
					margin-right: 60px;

					@media screen and (max-width: 500px) {
						margin-right: 10px;
					}
				}
			}
		}

		.details {
			padding-top: 5px;
			padding-bottom: 5px;

			.weather {
				color: #FFFFFF;
			}
		}
	}	

	&.today {
		.header {
			border-bottom: 1px #000000 solid;
		}
	}	
}