.icon {
	@include text-shadow(#618788 1px 1px 2px);

	&.light-rain {
		color: #1d324a;
	}

	&.clear-sky {
		color: #ffe721;
	}

	&.overcast-clouds,
	&.few-clouds {
		color: #fdffb5;
	}
}

.evening {
	.icon {
		&.light-rain {
			color: #7ab8ff;
		}
	}
}