@import "compass/css3";

#root {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;

	@include transition-property(background-color);
	@include transition-duration(0.5s);
  	@include transition-timing-function(ease-in);

  	&.early-morning {
  		background-color: #00a0ff;
  	}

	&.morning {
		background-color: #2db1ff;
	}

	&.afternoon {
		background-color: #1475af;
	}

	&.evening {
		background-color: #002840;
	}
}